body {
  font-family: sans-serif;
}

label, input[type="submit"] {
  display: block;
  margin-top: 1em;
  margin-bottom: .25em;
}

input[name="weight"] {
  width: 5em;
}

#lastWeighDate, 
#lastWeight {
  font-weight: bold;
}

#lastWeighInfo {
  display: none;
}

.stand-alone-button {
  display: block;
  margin: 20px 0px;
}

td {
	padding: 5px 10px 5px 0px;
}

h4 {
	margin-bottom: 1px;
}