body {
    font-family: sans-serif;
}

td, th {
    padding: .25rem .75rem .25rem 0;
    text-align: left;
}

.right-align {
    text-align: right;
}     

/* Forms */
input {
    display: block;
    margin-top: .25rem;
    margin-bottom: 1rem;
    width: 10rem;
    border: 1px solid #444;
}

form { 
    margin-top: 1rem;
}

/* Colors */
body {
    background-color: #fff;
    color: #444;
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
        color: #fff;
    }
    a {
        color: rgb(107, 174, 241);
    }
    input {
        background-color: #222;
        color: #fff;
        border: 1px solid #fff;
    }
}

@media (max-width: 375px) {
    table {
        width: 100%;
        font-size: 1.35rem;
        font-weight: bold;
    }
    body {
        font-size: 1.35rem;
        font-weight: bold;
    }
    input {
        padding: 0.5rem;
        width: 100%;
        margin-bottom: 1.75rem;
        font-size: 1.35rem;
        font-weight: bold;
        border-radius: 2px;
        box-sizing: border-box; 
        -webkit-appearance: textfield;
    }
    input::-webkit-date-and-time-value {
        text-align: left;
    }
}