<% provide(:title, t("weight-edit-title")) %>
<% provide(:cancel_path, weight_path(@weight)) %>
<% provide(:submit_button_text, t('edit-weight')) %>
<div class="row">
  <div class="col-sm">
    <h2><%= t("weight-edit-title") %></h2>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <%= render "form" %>
  </div>
</div>
