<% provide(:title, "Edit Weight") %>
<% provide(:cancel_path, weight_path(@weight)) %>
<div class="row">
  <div class="col-sm">
    <h1>Edit Weight</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <%= render "form" %>
  </div>
</div>
