<% provide(:title, "Weights") %>
<h1>Rewards</h1>

<%= link_to "Add new weight", new_weight_path %>

<ul>
<% @weights.each do | weight | %>
  <li><%= link_to formatDate(weight.date), weight %>: <%= weight.weight %></li>
<% end %>
</ul>