<% provide(:title, t("weight-create-title")) %>
<% provide(:cancel_path, root_path) %>
<% provide(:submit_button_text, t('add-new-weight')) %>
<div class="row">
  <div class="col-sm">
    <h2><%= t("weight-create-title") %></h2>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <%= render "form" %>
  </div>
</div>
