<% provide(:title, "New Weight") %>
<% provide(:cancel_path, root_path) %>
<div class="row">
  <div class="col-sm">
    <h2>Add weight</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <%= render "form" %>
  </div>
</div>
