<% provide(:title, "New Weight") %>
<% provide(:cancel_path, weights_path) %>
<div class="row">
  <div class="col-sm">
    <h1>Add a weight</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <%= render "form" %>
  </div>
</div>
