// Place all the styles related to the weights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Stylings for the chart

#chart {
    margin-bottom: $paragraph-margin-bottom;
}

#chart rect text {
    //fill: $yiq-text-light;
    fill: black;
    font: 14px $font-family-base;
    text-anchor: middle;
}

#chart rect {
    fill: $secondary;
}

#chart .x.axis text {
    font: 0.60rem $font-family-sans-serif;
    fill: $body-color;
}

#chart .y.axis text {
    font: 0.75rem $font-family-sans-serif;
    fill: $body-color;
}
  
.axis path,
.axis line {
    fill: none;
    stroke: $body-color;
    shape-rendering: crispEdges;
}

.axis path {
    display: none;
}