// Place all the styles related to the weights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Stylings for the chart

#chart {
    margin-bottom: $paragraph-margin-bottom;
}

#chart rect {
    fill: $primary;
}

#chart text {
    fill: $yiq-text-light;
    font: 10px sans-serif;
    text-anchor: end;
}